.tabsContainer {
    background-color: none; /* Light background color for better visibility */
    padding: 10px 0; /* Padding top and bottom */
    width: 100%;
    text-align: center;
}
  
  .tab {
    margin: 0 10px; /* Increase horizontal margin between tabs */
    font-size: 16px; 
}